/*elemento{
    propiedad : valor ;
    propiedad : valor ;
    propiedad : valor ;
    propiedad : valor ;
    propiedad : valor ;
}*/
/*
header h2 {
   margin: 0;
   color: blue;
}

h2{
    color: red;
}

p#azul{
    color : blue;
}
/*
p+p{
    font-weight: bolder;
}

div > p {
    color: red;
}

p~p{
    color: green;
}*/




